[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plainchart = {editable = true, path = "."}

[dev-packages]
setuptools = "==40.0.0"
wheel = "==0.38.1"
twine = "==1.11.0"
requests = "==2.21.0"

[requires]
python_version = "3.7"
